@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  ::selection {
    background-color: #2e6b8c5b;
    color: #f9f9f9;
  }

  ::-webkit-scrollbar {
    display: block;
    width: 14px;
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px 0 0 10px;
    border: 2px solid #2e6b8c;
    border-right: 0;
    box-shadow: inset -1px 0px 8px rgba(255, 255, 255, 0.438);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: #2e6b8cc0;
  color: black;
}

::-webkit-scrollbar {
  display: block;
  width: 14px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px 0 0 10px;
  border: 2px solid #2e6b8c;
  border-right: 0;
  box-shadow: inset -1px 0px 8px rgba(2, 2, 2, 0.438);
  width: 12px;
}